html {
    margin: 0;
    padding: 0;
    background-color: hsl(244, 41.9%, 42.5%);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden; // not sure if this is the solution, might cut off the map
}

main {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-image: url(../images/pattern-bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    text-align: center;
    padding: 0 24px 0;
}


#search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    max-width: 555px;
}
input[type="text"] {
    background-color: var(--bg-color);
    color: var(--dark-gray);
    border: none;
    border-radius: 15px 0 0 15px;
    padding: 0 0 0 24px;
    width: 100%;
    outline: none;
}
button#search-btn {
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 22px 23.5px 19px;
    cursor: pointer;
}

section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 23.5px auto 0;
    padding: 25px 10px 0;
    background-color: var(--bg-color);
    border-radius: 15px;
    width: 100%;
    max-width: 555px;
    z-index: 401;
}


.info-container {
    margin: 0 0 23px;
}

.vertical-divider {
    border-left: 1px solid var(--div-color);
    height: 100%;
    max-height: 75px;
    margin: auto 0;
    display: none;
}

.leaflet-top.leaflet-left {
    display: none;
}

.leaflet-interactive {
    cursor: grab;
}

#map {
    background-color: hsl(244, 41.9%, 42.5%);
    height: 100%;
}